/* Tema INCIDE para RevealJS 4 */

:root {
    --main-color: rgb(17, 138, 207);
    --darker-color: #246;
    --extra-back-color: gray;
}

.reveal {
    font-size: 29px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji
}
.reveal .slides {
    text-align: left;
}
.reveal section img {
    border: none;
}
.reveal section img[alt~="center"],.reveal section img.center {
    display: block;
    margin: 0 auto;
}
.bg-left {
    position: relative;
    float:left;
    width: 50%;
    margin-right: 5%;
}
.reveal h1,.reveal h2,.reveal a {
    color: var(--darker-color);
    text-transform: none;
}

.reveal section .lead {
    background-color: var(--main-color);
}

.reveal section::before {
    content: "";
    width: 12%;
    height: 10%;
    position: absolute;
    right: 1%;
    top: 2%;
    background: url('themes/viu/logo-viu.png') no-repeat center/contain;
}

/******************* lead *****************************/

/* lead class: first slide in a section. Use h1 as header.
Use: <!-- _class: lead --> */
section.lead {
    background-color: var(--main-color);
    text-align: left;
    color: white;
    padding-top: 15em;
}
section.lead h1, section.lead h2, section.lead p, section.lead a {
    color: white;
    padding: 0.5em;
    background-color: rgba(17, 138, 207, 0.8);
    margin-bottom: 0;
}
section.lead footer, section.lead header, section.lead:after {
    /* hide header, footer and pagination */
    display: none;
}
section.lead::before {
    /* logo in white */
    filter: sepia(100%) brightness(2) saturate(0);
}

/******************* lead2 *****************************/


/* lead2 class (alternate version) first slide in a section. Use h1 as header.
Use: <!-- _class: lead2 --> */
section.lead2 {
    background-image: url('themes/incide/lead.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
section.lead2 h1, section.lead2 h2, section.lead2 a {
    color: white;
    background-color: var(--darker-color);
    opacity: 0.9;
    text-align: center;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
}
section.lead2 footer, section.lead2 header, section.lead2:after {
    /* hide footer and pagination */
    display: none;
}

/******************* first-slide *****************************/

/* lead class: first slide (main title). Use h1 as header.
Use: <!-- _class: first-slide --> */
section.first-slide {
    background-image: url('themes/incide/incide-back.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
section.first-slide h1, section.first-slide h2, section.first-slide a {
    color: var(--darker-color);
}
section.first-slide footer, section.first-slide header, section.first-slide:after {
    /* hide header, footer and pagination */
    display: none;
}

/* imagen a la izquierda, no funciona con las transiciones */
/*.lead:before {
  content: '';
  width: 30%;
  height: 100%;
  position: absolute;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  background: url('themes/lead.jpg') repeat-x left;
}
.lead .slides h1 {
  text-align: left;
  margin: 30%;
  width: 60%;
}*/

/* two-columns class
Use: <!-- .slide:data-state="two-columns" --> */
.two-columns .reveal .slides section {
    display: grid !important;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    align-content: center;
    row-gap: 1em;
    column-gap: 1em;
}
.two-columns .reveal .slides h1,.two-columns .reveal .slides h2 {
    grid-column: 1 / 3;
}
.two-columns .reveal .slides :nth-child(4) {
    grid-column: 1 / 3;
}

/* two-columns-33 class
Use: <!-- .slide:data-state="two-columns-33" --> */
.two-columns-33 .reveal .slides section {
    display: grid !important;
    grid-template-columns: 33% 66%;
    grid-template-rows: auto auto;
    align-content: center;
    row-gap: 1em;
    column-gap: 1em;
}
.two-columns-33 .reveal .slides h1,.two-columns-33 .reveal .slides h2 {
    grid-column: 1 / 3;
}
.two-columns-33 .reveal .slides :nth-child(4) {
    grid-column: 1 / 3;
}

/* smaller-font class: texts are smaller than usual.
Use: <!-- _class: smaller-font --> */
.smaller-font .reveal {
    /* In the default theme, texts are bigger than normal */
    font-size: 150%
}

/* smallest-font class: texts are smaller than usual.
Use: <!-- _class: smallest-font --> */
.smaller-font .reveal {
    /* In the default theme, texts are bigger than normal */
    font-size: 120%
}